<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Get Mars Information</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Show me the data!</a></p>
    </div>

    <!-- Mars information -->
    <div class="row" id="news-item">
      <div class="col-md-12">
        <h3 class="heading"><b><i>Recent Mars News</i></b></h3>
        <h4>{{scraped_data.Headline}}</h4>
      </div>
    </div>

    <div class="row" id="news-item">
      <div class="col-md-12">
        <p>{{scraped_data.NewsBlurb}}</p>
      </div>
    </div>

  </div>
</body>

</html>

